{% extends 'site_base_alt.html' %}

{% load static %}

{% block box-tabs %}
{% endblock %}

{% block content %}
 <div id="std_box">
    
<h1>Frequently Asked Questions:</h1>
<br />
<h3>How can I support this initiative?</h3>
<p>Contributions to help pay for additional content may be sent to: </p>

<p>NYS Newspaper Project<br />
Northern New York Library Network<br />
6721 US HWY 11, Potsdam, NY 13676 <br />
or <br />
Make A Donation Online - Click <a href="http://stores.homestead.com/NNYLibraryNetwork/StoreFront.bok">here</a> to make a donation to the Northern New York Historical Newspapers project by using a credit card through a secure site.
</p>

<h3>Why is the date of the newspaper I am looking for not included?</h3>
<p>The dates included were chosen because of the anticipated interest in the period covered, the condition of the original newspapers and the quality of the microfilm from which these images were made. Once a date range for a title was chosen all of the filmed issues available were done. For some titles there may be missing issues or entire years that no longer exist. </p>
<h3>May I suggest titles to be added to this site?</h3>
<p> Yes, as long as the title was published in New York State . Email the address on the "Contact Us" section of this web site.
</p>
<h3> I did a search for a name that I know is in the paper but it did not come up. Why?</h3>
<p> 
  Indexing is done by searching for words in an image of the newspaper page. This is called Optical Character Recognition or OCR. OCR is not a perfect process even with very good originals. When the originals are discolored or contain broken type, the results are less good. If the OCR program was not able to identify a word it will not appear in the index.
</p>
<h3>Why do some of the photographs look so "washed out." </h3>
<p>Many of the  images were created as black and white bi-tonal images. This type of image is great for text but not so good for pictures. If you require a better copy of a picture, a grey-scale image can be created from a microfilm copy of the newspaper.</p>
<h3>Can I download entire newspaper titles to my computer for personal research?  </h3>
<p>No, this activity is not permitted.  Users who download full titles will be blocked from the site. </p>    
    
  <p class="backtotop"><a href="#skip_menu">Top</a></p>
</div><!-- end id:std_box -->

{% endblock %}
