{% extends 'site_base_alt.html' %}

{% load static %}

{% block box-tabs %}
{% endblock %}

{% block content %}
 <div id="std_box">
    
<p>The images on this web site were scanned, processed by an optical character recognition program and converted to computer files. The contents of those files were then indexed and placed on a central server.</p>

<p>These research resources are available for online use at no charge. Downloading a large number of files is not permitted.</p>

<p>This site is created and funded by the <a href="http://ny3rs.org/">NY 3Rs Association, Inc.</a>, and is affiliated with the NY 3Rs Association's companion project, <a href="http://nyheritage.org/">NewYorkHeritage.org</a>.</p>

<p>Particular thanks is extended to Mike Beccaria of Paul Smith's College for his outstanding contribution to the development of this project.</p>

  <p class="backtotop"><a href="#skip_menu">Top</a></p>
</div><!-- end id:std_box -->

{% endblock %}
