{% extends 'site_base_alt.html' %}

{% load static %}

{% block box-tabs %}
{% endblock %}

{% block content %}
 <div id="std_box">
    
<p>If you need additional assistance in using this site, or if you would like to share comments or suggestions,
please send your message to:</p>
<p style="width: 200px; margin-left: auto; margin-right: auto;"><img src="{% static 'images/nnyln_email_logo.png' %}" alt="newspapers@nnyln.net" /></p>
    
  <p class="backtotop"><a href="#skip_menu">Top</a></p>
</div><!-- end id:std_box -->

{% endblock %}
